<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://camel.apache.org/schema/cxf"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
       http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
    ">
 
<!--  <cxf:rsServer id="rsServer" address="http://0.0.0.0:9000/document" serviceClass="com.redhat.Document" loggingFeatureEnabled="false" />
 --> 
 <!-- for openshift -->
 <cxf:rsServer id="rsServer" address="http://0.0.0.0:9000/document" serviceClass="com.redhat.Document" loggingFeatureEnabled="true" />
 <cxf:rsClient id="rsClient" address="http://54.169.32.213/document" serviceClass="com.redhat.Document" loggingFeatureEnabled="true" />
<!-- 
 <cxf:rsServer id="logRsServer" address="http://0.0.0.0:9000/loggingService" serviceClass="com.redhat.LoggingService" loggingFeatureEnabled="false" />
 <cxf:rsClient id="logRsClient" address="http://#{systemProperties['loggingServiceHost']}/sc-logger-s3-1.0-SNAPSHOT" serviceClass="com.redhat.LoggingService" loggingFeatureEnabled="false" />
 
 --> 
 <cxf:rsServer id="logRsServer" address="http://0.0.0.0:9000/loggingService" serviceClass="com.redhat.LoggingService" loggingFeatureEnabled="true" />
 <cxf:rsClient id="logRsClient" address="http://#{systemEnvironment['loggingServiceHost']}/log" serviceClass="com.redhat.LoggingService" loggingFeatureEnabled="true" />
 
 
 <bean id="myProcessor" class="com.redhat.MyProcessor"/>
 
  <!-- The camel route context -->
  <camelContext id="camel" xmlns="http://camel.apache.org/schema/spring">
   <route id="logging-service-route">
        <from uri="cxfrs:bean:logRsServer?bindingStyle=SimpleConsumer&amp;enableCORS=true"/>
        <log message="Calling Backend Client"/>
        <to uri="log:myLog?showAll=true&amp;multiline=true"/>
        <to uri="cxfrs:bean:logRsClient?enableCORS=true"/>
        <to uri="log:myLog?showAll=true&amp;multiline=true"/>
        <process ref="myProcessor"/>
   
   </route>
   <route id="camel-rest-proxy">
  
        <from uri="cxfrs:bean:rsServer?bindingStyle=SimpleConsumer&amp;enableCORS=true"/>
        <log message="Calling Backend Client"/>
        <to uri="log:myLog?showAll=true&amp;multiline=true"/>
        
        <to uri="cxfrs:bean:rsClient?enableCORS=true"/>
        <to uri="log:myLog?showAll=true&amp;multiline=true"/>
        <process ref="myProcessor"/>
        <!--  
        <marshal>
            <json library="Jackson"/>
        </marshal>
        -->
   </route>
  </camelContext>
 
</beans>